## 1.Load the dataset

In [51]:
# Load the dataset customer_churn_netflix.csv
import pandas as pd
df = pd.read_csv('customer_churn_netflix.csv')
df.head()

,user_id,subscription_plan,monthly_watch_hours,num_profiles,days_since_last_login,age,device_type,payment_issue_flag,international_usage,support_tickets,churn
0,1,Standard,10.1,1,51,50,Tablet,0,7,0,1
1,2,Premium,4.7,3,14,62,Mobile,0,6,0,1
2,3,Premium,12.0,3,45,46,Mobile,0,9,0,0
3,4,Standard,14.8,1,24,19,Tablet,0,0,0,0
4,5,Basic,9.0,1,20,52,Mobile,1,1,1,0

## 2. Data Preprocessing
Here, we have 2 columns **subscription_plan** and **device_type** which have categories in text format. We need to convert them to numerical category. For that purpose, we can use **_Label Encoding_**. <br>
Here are the usage of label encoding:
1.  Label Encoding changes text labels into numeric values so machine learning models can understand them.
2. It assigns a unique integer to each category, making it easy to use with most ML algorithms.
3. Each category gets a distinct number, avoiding confusion between different labels.

In [52]:
# Label Encoding for subscription_plan column
from sklearn.preprocessing import LabelEncoder
le_1 =  LabelEncoder()
df['subscription_plan'] = le_1.fit_transform(df['subscription_plan'])

In [ ]:
# Perform label encoding for df['device_type'] but need to create new object 
le_2 = LabelEncoder()
df['device_type'] =

In [ ]:
df.sample(5)

## 3. Split the dependent variables(y) and independent variables(X)

In [ ]:
X = df.drop(columns = ['churn']) 
y = df['churn']
X

## 4. Train Test Split

In [53]:
# Perform train_test_split

## 5. Train the model

In [54]:
# import the LinearRegression model from sklearn
from sklearn.linear_model import LogisticRegression

In [55]:
# Train the model

## 6. Predicting the Model on the Test Set

In [46]:
# Predicting the dependent variable values for the test set
y_pred =

## 7. Evaluate the model

In [ ]:
# compute confusion_matrix, classification_report
from sklearn.metrics import confusion_matrix, classification_report
cm = 
clf = 

print('Confusion Matrix:\n', cm)
print('\nClassification Report:\n', clf)

**What we learned:** 
- Quick Revision of _Logistic Regression_
- new term **_Label Encoding_** and its usage.ðŸŽ‰ðŸŽ‰